# ignore everything
*

# exception
!.gitignore
!.gitconfig
!.profile
!.*rc
!.tmux.conf
!README.md
!start-tmux.sh

!.config
!.config/alacritty
!.config/alacritty/**
!.config/niri
!.config/niri/**
!.config/btop
!.config/btop/**
!.config/nvim
!.config/nvim/**

!.cargo/
!.cargo/config.toml
!clash/
!clash/**
